table {
  border:solid;
  border-color:black;
  text-align:center;
}
th {
  border:solid;
  border-color:black;
  text-align:center;
  font-family:fantasy;
  
}
td {
  border:solid;
  border-color:black;
  text-align:center;
}

