.studyhr{background-color:#cc3399;
color:white;
}
.misc{background-color:#FFCC00;
}
.chem{background-color:#ff3333;
}
.eat{background-color:#FF0066;
color:white;
}
.workout{background-color:#00cc66;
}
.studyacc{background-color:#0000cc;
color:white;
}
.hr{background-color:#33ccff;
}
.compsci{background-color:#00ff00;
}
.acc{background-color:#ff9900;
}
.chem{background-color:#ff99ff;
}
table {
  border:groove;
  border-color:black;
  text-align:center;
  border-width:3px;
}
th {
  border:dotted;
  border-color:red;
  text-align:center;
  font-family:fantasy;
  
}
td {
  border:solid;
  border-color:black;
  text-align:center;
}

