.hr{background-color:#33ccff;
}
.compsci{background-color:#00ff00;
}
.acc{background-color:#ff9900;
}
.chem{background-color:#ff99ff;
}
table {
  border:solid;
  border-color:black;
  text-align:center;
}
th {
  border:dotted;
  border-color:red;
  text-align:center;
  
}
td {
  border:solid;
  border-color:black;
  text-align:center;
}

